header {
  background-color: var(--main-bg-color);
  padding: 10px;
}

.container {
  display: grid;
  grid-template-rows: minmax(20px, 60px) max-content minmax(20px, 60px);
  gap: 0px 0px;
  justify-content: stretch;
  align-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
}
.header {
  grid-area: 1 / 1 / 2 / 2;
}
.content {
  align-self: start;
  grid-area: 2 / 1 / 3 / 2;
}
.footer {
  background-color: var(--main-bg-color);
  padding: 10px;
  justify-self: stretch;
  align-self: end;
  grid-area: 3 / 1 / 4 / 2;
}

.admin-wrapper {
  display: grid;
  grid-template-columns: [menu-admin] 1fr [admin-tools-containe] 4fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "menu-admin admin-tools-container";
}
.menu-admin {
  grid-area: menu-admin;
}
.admin-tools-container {
  grid-area: admin-tools-container;
}
